# AxiOS TS Backend Environment Configuration Template

PORT=3000
UPLOAD_DIR=bin
MOCK_BINARY=true
LOG_LEVEL=info

# Database connection
MONGO_URI=mongodb+srv://Auric:1234@cluster0.ujdtffc.mongodb.net/?retryWrites=true&w=majority
